ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
} 
.hero-image{
    background-image: url("./Images/20240626_111238.jpg");
  height: 850px;
  width: 1600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 5%;
  margin-left: 8%;
  margin-top: 3%;
}
body{
  background-color: grey;
  margin: 0px;
  padding: 0px;
}
.Geyser{
  margin-left: 41.2%;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
   'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bold;
   font-size: 250%;
}
.About-Types{
  color: white;
  font-size: 170%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
   'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bold;
   margin-left: 10%;
   margin-right: 10%;
}
.hero-image3{
  background-image: url("./Images/20240626_110417.jpg");
  height: 850px;
  width: 1600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 5%;
  margin-left: 8%;
  margin-top: 3%;
}
.hero-image2{
  background-image: url("./Images/20240626_104441.jpg");
  height: 850px;
  width: 1600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 5%;
  margin-left: 8%;
  margin-top: 3%;
}
.mud-pool{
  margin-left: 45%;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
   'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bold;
   font-size: 250%;
}
.valley{
  margin-left: 39.3%;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
   'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bold;
   font-size: 250%;
}
.Bold-text{
  font-weight: 100;
}
footer{
  background-color: black;
  color: white;
}
.Logo-TePuia-White{
  margin-left: 19%;
  width: 10%;
}
h3{
  padding-left: 50%;
  font-size: 200%;
  position: absolute;
}
.main{
  padding-left: 37%;
  color: white;
  text-decoration: underline overline;
  font-size: larger;
}
.main2{
  padding-left: 35.5%;
  color: white;
  text-decoration: underline overline;
  font-size: larger;
}
.main3{
  padding-left: 33%;
  color: white;
  text-decoration: underline overline;
  font-size: larger;
}
p{
  margin-right: 5%;
  margin-left: 5%;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: serif;
}